[flake8]
# Specify a list of codes to ignore.
ignore =
    E203, # whitespace before ‘:’ (conflicts with black)
    E266, # too many leading ‘#’ for block comment
    E501, # line too long
    W503, # line break before binary operator
    F821, # undefined name error, bug in pyflakes
max-line-length = 100
max-complexity = 12
# Specify the list of error codes you wish Flake8 to report.
select =
    B, # flake8 bugbear
    C, # McCabe complexity errors
    E, # PEP8 errors (pycodestyle)
    F, # linting errors (pyflakes)
    W, # PEP8 warnings (pycodestyle)
    N, # pep8-naming
    # ANN, # flake8-annotations, not including everything here.
    ANN001, # Missing type annotation for function argument
    ANN201, # Missing return type annotation for public function
    A00, # flake8-builtins
    U100, # unused arguments
    D102,D103 # Missing docstring in public method/function
unused-arguments-ignore-abstract-functions = True
# Suppress ANN200-level errors for functions that return None.
suppress-none-returning = True

# Allow some common datascience variable names.
ignore-names =
    # defaults
    setUp,tearDown,setUpClass,tearDownClass,asyncSetUp,asyncTearDown,setUpTestData,failureException,longMessage,maxDiff,
    X,X_train,X_test
# exclude tests from flake8 checking
exclude = */tests/*